body {
  background-color: lavender;
  font-family: Yanone Kaffeesatz;
  color:dimgray;
  margin: 20px;
  padding: 20px;
}
* {
  box-sizing: border-box;
}
/* style the navigation bar */
*.topnav {
  overflow: hidden;
  background-color: lightsteelblue;
}
/* style the navigation bar links */
.topnav a {
  float: left;
  display: block;
  color: slategray;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-family: Yanone Kaffeesatz;
  font-size: 150%;
}
/* change color on hover */
.topnav a:hover {
  background-color: slategray;
  color:lightsteelblue;
}

/* unequal column widths */

table {
  border: 15px;
  table-layout: fixed;
}

td {
  padding: 15px;
  font-size: 150%;
  border: 5px;
  word-wrap:break-word;
  width: 20%;
}

.column {
  float: left;
}
/* middle column with content */
.column.middle {
  width: 80%;
  margin-top: 30px;
}
/* clear floats after the columns */
/*
.row:after {
  content: "";
  display: table;
  clear: both;
} */
/* responsive layout */
@media (max-width: 600px) {
  .column.left, .column.middle, .column.right {
    width: 100%;
}
