body {
    font-family: Yanone Kaffeesatz; color:dimgray;
    margin: 20;
}
.header {
  padding: 20px;
  text-align:center;
}
* {
  box-sizing: border-box;
}
/* style the navigation bar */
*.topnav {
  overflow: hidden;
  background-color: lightsteelblue;
}
/* style the navigation bar links */
.topnav a {
  float: left;
  display: block;
  color: slategray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Yanone Kaffeesatz;
}
/* change color on hover */
.topnav a:hover {
  background-color: slategray;
  color:lightsteelblue;
}
/* unequal column widths */
.column {
  float: left;
}
/* left column */
.column.left {
  width: 20%;
}
/* middle column */
.column.middle {
  width: 40%;
}
/* right column */
.column.right {
  width: 40%;
}
/* clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* responsive layout */
@@media (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}
