body
{
    font-family: Yanone Kaffeesatz; color:dimgray;
    margin: 20;
}
.header {
  padding: 20px;
  text-align:center;
}
* {
  box-sizing: border-box;
}
/* style the navigation bar */
*.topnav {
  overflow: hidden;
  background-color: lightsteelblue;
}
/* style the navigation bar links */
.topnav a {
  float: left;
  display: block;
  color: slategray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Yanone Kaffeesatz;
}
/* change color on hover */
.topnav a:hover {
  background-color: slategray;
  color:lightsteelblue;
}
